body{
    font: 14px/16px "Roboto","Arial","Helvetica",sans-serif;
}

.phonebook_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00afd8;
}
.phonebook_wrapper .main_menu{
    display: inline-flex;
    margin: 0 0 10px;
}
.phonebook_wrapper .main_menu a{
    padding: 0 5px;
    color: #00afd8;
}
.phonebook_wrapper .flex-block input{
    width: 100%;
    border: 1px solid #00afd8;
}
.phonebook_wrapper .flex-block_wrapper{
    display: flex;
}
.phonebook_wrapper .flex-block_wrapper .input_numm_block{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phonebook_wrapper .flex-block_wrapper .input_numm_block .input_numm{
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    width: 35px;
    height: 25px;
}